.section {
  margin-bottom: 80px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.title {
  font-size: 32px;
  font-weight: 800;
  color: #f1f2f3;
}

.buttons {
  display: flex;
  gap: 16px;
}

.arrowButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #323542;
  background-color: #161827;
  color: #f1f2f3;
  font-size: 18px;
  cursor: pointer;
  transition: border-color 0.3s, background-color 0.3s;

  &:hover {
    border-color: #757982;
    background-color: #212435;
  }

  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
}

.sliderContainer {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.slideItem {
  flex: 0 0 272px;
}
